<section class="margins">


<div class="title">

  <span>
    Disclaimer
  </span>
</div>


<div class="text">

  <div class="para1">
    <p>
      Interiors and fit-outs shown here if any, are not part of the standard offering. All architectural and interior views and images unless specified otherwise, are computer graphics artist impressions and simulated interpretation of actual property with an endeavor to impart clear informative understanding to the recipient with respect to the project and therefore, this printed material does not constitute an offer and/or contract of any type between the promoter (developer) and the recipient / proposed allottee. Prospective purchasers should make and must rely on their own enquiries.

    </p>
  </div>

<div class="para2">


  <p>
The colours of the buildings are indicative only. The information contained herein is believed to be correct but is not guaranteed. Any purchaser under this development shall be governed by the terms and conditions of the agreement to sell, to be entered into between the developer and proposed allottee, and the details of the facilities and amenities etc. will be specified in the said agreement to sell. The area mentioned in the unit plans will vary because of plaster and column locations and no adjustment/refunds of any nature whatsoever, will be made by the developer for such variation.
  </p>

</div>
</div>

</section>
