
<section class="firstSection">

  <div class="heading">
    <span>
      NRI Corner
    </span>
  </div>

  <div class="content">
    <div class="title"><span>Invest in Pune with Kumar Corp: Your Gateway to Exclusive NRI Benefit</span></div>
    <div class="text firstPara"><span>Looking for a lucrative real estate investment opportunity? Look no further than Pune, India's thriving cosmopolitan city that promises incredible growth and exceptional returns. Pune has emerged as a hotbed for investment, attracting not only domestic buyers but also discerning NRIs seeking a slice of this vibrant real estate market. And when it comes to making the right choice, Kumar Corp stands tall as the preferred partner for your real estate endeavors. Here's why:</span>
    </div>
  </div>

  <div class="animateImg">
    <img style="width: 100%;" src="../../../assets/nri-corner/nriHeroImg.png" alt="">
  </div>


</section>

<section class="sectionMargin sec2">
 <div class="row">
   <div class="col-lg-6 col-md-6 col-sm-12">
     <div class="pointerTitles animate-pointertitle textPadding">
      <span>Why to invest in Pune?</span>
     </div>
     <div class="text pointerText animatePara1 textPadding">
      <span>
        Pune's strategic location, robust infrastructure, and booming IT sector make it an investor's paradise. Pune attracts a constant influx of students, professionals, and families, ensuring a steady demand for quality residential and commercial spaces. The city's rapid urbanization and government initiatives further enhance its growth prospects, offering immense potential for property appreciation.
      </span>
     </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-12 ">
       <div class="textImg">
        <img style="width: 95%;" src="../../../assets/nri-corner/nri-textImg1.png" alt="">
       </div>
   </div>

 </div>

</section>
<section class="sectionMargin sec3">
  <div class="row mobileView">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="textImg2">
       <img style="width: 95%;" src="../../../assets/nri-corner/nri-textImg2.png" alt="">
      </div>
  </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="pointerTitles animate-pointertitle2">
       <span>Why Kumar Corp?</span>
      </div>
      <div class="text pointerText animatePara2">
       <span>
        Kumar Corp is synonymous with trust, quality, and excellence in the real estate sector. With a legacy spanning several decades, we have earned the reputation of being pioneers in crafting iconic landmarks across Pune. Our commitment to delivering exceptional projects, meticulous attention to detail, and adherence to stringent quality standards set us apart. We offer a diverse portfolio of residential and commercial properties that cater to varied budgets and preferences, ensuring every NRI investor finds their dream investment with us.
       </span>
      </div>
    </div>


  </div>

 </section>

 <section class="sectionMargin sec4">
 <div class="bottomTitle animate-bottomTitle textPadding">
  <span>Exclusive NRI benefits like Easy Finance, Customer Care, Exclusive Offers and Referral schemes.</span>
 </div>

 <div class="text bottomText textPadding" style="width: 97.2%;">



<p class="para1">At Kumar Corp, we understand the unique needs and challenges faced by NRIs when it comes to investing in real estate. That's why we have designed exclusive benefits to make your investment journey hassle-free and rewarding. With our easy finance options, we provide seamless assistance in securing loans and navigating the financial aspects of your purchase. Our dedicated customer care team is always at your service, ensuring prompt and personalized assistance at every step. Moreover, as an NRI investor with Kumar Corp, you gain access to exclusive offers and referral schemes, maximizing your investment potential and rewarding your trust in us.

 </p>
 <p class="para2">
  Investing in Pune with Kumar Corp unlocks a world of opportunities and exclusive benefits for NRIs. With Pune's promising real estate market, our impeccable reputation, and our dedication to serving the unique needs of NRIs, we invite you to embark on a rewarding investment journey with us. Discover the joy of owning your dream property in Pune and reap the benefits of a partnership that puts your interests first.
 </p>


</div>

<div class="bottomImg" style="margin-top: 6.5%;">
  <img style="width: 100%;" src="../../../assets/nri-corner/nri-bottomImg.png" alt="">
</div>
</section>


<section style="margin: 6.5%; " class="sec5">

  <div class="bottomTitle animate-bottomTitle2 animate-contact textPadding" style="margin-bottom: 1.7%;">
    <span>
      Contact Us
    </span>

  </div>

  <div class="text animate-email textPadding" >
  <span >
    By email: info@kumarworld.com
  </span>
</div>

</section>
