<div class="careerPage">
  <div class="container headding">
    <p>Join Our Team</p>
  </div>
  <div class="paragraph">
    <p>
      Discover exciting career opportunities in real estate with us. We are
      looking for motivated individuals who are passionate about the industry
      and ready to make a meaningful impact. Join our team and contribute to
      transforming the way people buy, sell, and invest in properties.
    </p>
  </div>
  <div class="container py-5">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Graphic Designer
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body py-0">
            <div class="expernce1 expernce">
              <p><img src=" assets/icons/exp.svg" alt="" /> EXPERIENCE</p>
              <span>2-3 years</span>
            </div>
            <div class="expernce">
              <p>
                <img src="assets/icons/qualification.svg" alt="" />
                QUALIFICATION
              </p>
              <span>(Adobe Creative Suite (Illustrator,Photoshop,After
                Effects,Premier Pro) , Corel Draw )</span>
            </div>
            <div class="expernce">
              <p>
                <img src="assets/icons/vacancies.svg" alt="" /> NO. OF VACANCIES
              </p>
              <span>01</span>
            </div>
            <div class="expernce">
              <p><img src="assets/icons/location.svg" alt="" /> LOCATION</p>
              <span>Camp, Pune</span>
            </div>
            <div class="expernce">
              <button class="btn" data-bs-toggle="modal" data-bs-target="#careerform">
                Apply Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordian2">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
            Sr Planning Engineer
          </button>
        </h2>
        <div id="collapsetwo" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordian2">
          <div class="accordion-body">
            <div class="expernce1 expernce">
              <p><img src=" assets/career/exp.png" alt="" /> EXPERIENCE</p>
              <span>2-3 years</span>
            </div>
            <div class="expernce">
              <p>
                <img src="assets/career/graduation-cap .png" alt="" />
                QUALIFICATION
              </p>
              <span>(Adobe Creative Suite (Illustrator,Photoshop,After
                Effects,Premier Pro) , Corel Draw )</span>
            </div>
            <div class="expernce">
              <p>
                <img src="assets/career/office-chair.png" alt="" /> NO. OF
                VACANCIES
              </p>
              <span>01</span>
            </div>
            <div class="expernce">
              <p><img src="assets/career/location.png" alt="" /> LOCATION</p>
              <span>Camp, Pune</span>
            </div>
            <div class="expernce">
              <button class="btn" data-bs-toggle="modal" data-bs-target="#careerform">
                Apply Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordian3">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3"
            aria-expanded="true" aria-controls="collapse3">
            Asst Manager / Manager – Billing & Estimation
          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordian3">
          <div class="accordion-body">
            <div class="expernce1 expernce">
              <p><img src=" assets/career/exp.png" alt="" /> EXPERIENCE</p>
              <span>2-3 years</span>
            </div>
            <div class="expernce">
              <p>
                <img src="assets/career/graduation-cap .png" alt="" />
                QUALIFICATION
              </p>
              <span>(Adobe Creative Suite (Illustrator,Photoshop,After
                Effects,Premier Pro) , Corel Draw )</span>
            </div>
            <div class="expernce">
              <p>
                <img src="assets/career/office-chair.png" alt="" /> NO. OF
                VACANCIES
              </p>
              <span>01</span>
            </div>
            <div class="expernce">
              <p><img src="assets/career/location.png" alt="" /> LOCATION</p>
              <span>Camp, Pune</span>
            </div>
            <div class="expernce">
              <button class="btn" data-bs-toggle="modal" data-bs-target="#careerform">
                Apply Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordian4">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4"
            aria-expanded="true" aria-controls="collapse4">
            Sales Executive – Corporate Product
          </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordian4">
          <div class="accordion-body">
            <div class="expernce1 expernce">
              <p><img src=" assets/career/exp.png" alt="" /> EXPERIENCE</p>
              <span>2-3 years</span>
            </div>
            <div class="expernce">
              <p>
                <img src="assets/career/graduation-cap .png" alt="" />
                QUALIFICATION
              </p>
              <span>(Adobe Creative Suite (Illustrator,Photoshop,After
                Effects,Premier Pro) , Corel Draw )</span>
            </div>
            <div class="expernce">
              <p>
                <img src="assets/career/office-chair.png" alt="" /> NO. OF
                VACANCIES
              </p>
              <span>01</span>
            </div>
            <div class="expernce">
              <p><img src="assets/career/location.png" alt="" /> LOCATION</p>
              <span>Camp, Pune</span>
            </div>
            <div class="expernce">
              <button class="btn" data-bs-toggle="modal" data-bs-target="#careerform">
                Apply Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion" id="accordian5">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5"
            aria-expanded="true" aria-controls="collapse5">
            Environmental Executive
          </button>
        </h2>
        <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordian5">
          <div class="accordion-body">
            <div class="expernce1 expernce">
              <p><img src=" assets/career/exp.png" alt="" /> EXPERIENCE</p>
              <span>2-3 years</span>
            </div>
            <div class="expernce">
              <p>
                <img src="assets/career/graduation-cap .png" alt="" />
                QUALIFICATION
              </p>
              <span>(Adobe Creative Suite (Illustrator,Photoshop,After
                Effects,Premier Pro) , Corel Draw )</span>
            </div>
            <div class="expernce">
              <p>
                <img src="assets/career/office-chair.png" alt="" /> NO. OF
                VACANCIES
              </p>
              <span>01</span>
            </div>
            <div class="expernce">
              <p><img src="assets/career/location.png" alt="" /> LOCATION</p>
              <span>Camp, Pune</span>
            </div>
            <div class="expernce">
              <button class="btn" data-bs-toggle="modal" data-bs-target="#careerform">
                Apply Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <p>Please Share Your resume with us : <a style="text-decoration: none; color: #f27f0c;" href="mailto:hr@kumarworld.com" target="_blank">hr@kumarworld.com</a></p>
  </div>
</div>
<div class="modal top fade" id="careerform" tabindex="-1" aria-labelledby="careerformLabel" aria-hidden="true"
  data-bs-backdrop="true" data-bs-keyboard="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-body">
        <img src="assets/icons/cross-icon.svg" alt="" type="button" class="close-btn" data-bs-dismiss="modal" />
        <div class="mainDiv">
          <div class="row">
            <div class="text col-lg-5 col-md-5 col-sm-12">
              <div class="titleDiv">
                <h1 class="modal-headding">Please fill the details</h1>
              </div>
              <div>
                <p class="modal-text d-none">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 paddings">
              <form [formGroup]="careerForm" (ngSubmit)="submitForm()">
                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row mb-4">
                  <div class="col-6">
                    <div class="form-outline">
                      <label class="form-label" style="padding-left: 10%" for="form6Example1">Name*</label>
                      <input type="text" id="form6Example1" class="form-control" style="padding-left: 9%"
                        formControlName="Name" placeholder="Your name here" />

                        <div class="errorMsg" *ngIf="careerForm.controls['Name'].invalid && (careerForm.controls['Name'].dirty || careerForm.controls['Name'].touched)">
                          <div *ngIf="careerForm.controls['Name'].errors?.['pattern']">Name is incorrect.</div>
                          <div *ngIf="careerForm.controls['Name'].errors?.['required']">Name is required.</div>

                        </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <!-- Number input -->
                    <div class="form-outline mb-4">
                      <label class="form-label" style="padding-left: 10%" for="form6Example6">Phone Number*</label>
                      <input type="tel" id="form6Example6" class="form-control" placeholder="+91"
                        formControlName="phone_number" style="padding-left: 9%" />
                        <div class="errorMsg" *ngIf="careerForm.controls['phone_number'].invalid && (careerForm.controls['phone_number'].dirty || careerForm.controls['phone_number'].touched)">
                          <div *ngIf="careerForm.controls['phone_number'].errors?.['required']">Phone number is required.</div>
                          <div *ngIf="careerForm.controls['phone_number'].errors?.['pattern']">Phone number must be a 10-digit number.</div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example5">Email ID*</label>
                  <input type="email" id="form6Example5" class="form-control" placeholder="Your Email here"
                    formControlName="email" />
                    <div class="errorMsg" style="padding-left: 5%;" *ngIf="careerForm.controls['email'].invalid && (careerForm.controls['email'].dirty || careerForm.controls['email'].touched)">
                      <div *ngIf="careerForm.controls['email'].errors?.['email']">Email id is incorrect.</div>
                      <div *ngIf="careerForm.controls['email'].errors?.['required']">Email id is required.</div>

                    </div>
                </div>
                <div class="dropdown mb-4">



                  <label class="form-label" for="form6Example5">Resume*</label>
                  <span class="ml-3">{{fileName}}</span>
                  <input (change)="changeFile($event)" type="file" #resumeFile hidden>

                  <div class="resume-wrapper" (click)="openFiles()" (drop)="onDrop($event)"
                    (dragover)="onDragOver($event)">
                    <div class="resume-input-wrapper">
                      <div class="content-wrapper d-flex gap-2">
                        <img src="./assets/icons/upload-icon.svg" alt="" />
                        <div class="content d-flex align-items-center">
                          <p class="mb-0">
                            Click to Upload <br />
                            Or Just drag and drop
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-warning btn-block mb-4 text-white submit-form"
                  >
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
