<div class="backButton col-lg-4 ">
    <a class="btn " href="/media"> <span><i class="fa-solid fa-arrow-left"></i> back</span></a>
</div>
<div class="row EventDetail">

    <div class="imageText col-lg-6 col-xl-6">

        <div class="headding">
            <h1>THE PUNE
                PROPERTY EXPO,
                KOLHAPUR</h1>

        </div>
        <div class="belowText">
            <h3><i class="fa-solid fa-calendar-days date"></i> 23rd October 2019</h3>
        </div>
    </div>
    <div class="MainImg col-lg-6 col-xl-6">
        <img src="assets/media/Rectangle 255 (1).png" alt="">

    </div>
</div>