<section class="margins">
  <div class="row" style="margin-top: 5%">
    <div *ngFor="let blog of blogsData" class="card-padding col-lg-4 col-md-6 col-sm-12">
      <div class="card" routerLink="/blog/{{ blog._id }}">
        <div class="inner-padding">
          <div class="hoverDiv">
            <div class="viewBlog">
              <a routerLink="/blog/{{ blog._id }}">
                <span>View</span>
                <img class="arrow" src="../../assets/blogs/blogsArrow.png" alt="" />
              </a>
            </div>
            <img class="card-img-top" src="{{ blog.thumb }}" alt="Card image cap" />
          </div>
          <div class="card-body">
            <p class="card-text">{{ blog.title }}</p>
          </div>
          <!-- <div class="card-footer">
            <div class="footerContent">
              <img src="../../assets/icons/calendar 1.png" alt="" />
              <span>{{
                (blog.date | date : "mediumDate")!.split(",")[0]
              }}</span>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>