/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 0px;
}

@font-face {
  font-family: "alido";
  src: url("assets/fonts/Alido.otf");
  font-display: swap;
}

@font-face {
  font-family: "Metropolis";
  src: url("assets/fonts/Metropolis-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "Metropolis-bold";
  src: url("assets/fonts/Metropolis-SemiBold.otf");
  font-display: swap;
}
@font-face {
  font-family: "Metropolis-light";
  src: url("assets/fonts/Metropolis-Light.otf");
  font-display: swap;
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("src/assets/common/kumar-bg.png"),
    linear-gradient(180deg, #faf6f0 0%, #faf6f0 100%);
  /* font-family: "MetropolisNF", sans-serif; */
  background-size: 100%;
  background-repeat: no-repeat;
}

/* Hide scrollbar for Windows */
body::-webkit-scrollbar {
  width: 0;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

#kenytBubbleContainer {
  display: none !important;
}

/* misc  */

.swal2-actions button {
  border-radius: 40rem !important;
}
.cursor--pointer {
  cursor: pointer;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin-bottom: 1rem !important;
}

.swiper-pagination-bullet {
  background: #333333;
  font-size: 1rem !important;
  width: 5px;
  height: 5px;
}

@media (max-width: 1200px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin-left: 2rem !important;
  }
}

.ngx-pagination li {
  opacity: 0;
  display: none !important ;
}
.ngx-pagination .pagination-previous,
.ngx-pagination .pagination-next {
  opacity: 100% !important;
  display: inline-block !important;
}
.ngx-pagination .pagination-previous {
  padding: 0.1875rem 0.625rem;
  color: #cacaca;
  cursor: default;
}
@media screen and (max-width: 767px) {
  .ngx-pagination li {
    display: none !important ;
  }
  .ngx-pagination .pagination-previous,
  .ngx-pagination .pagination-next {
    display: inline-block !important;
  }
  .ngx-pagination {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-top: 0 !important;
  }
}

.ngx-pagination {
  margin-top: 7%;
}
.ngx-pagination a {
  padding: 0 !important;
}
.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  content: url("assets/home/pagination-prevMob.png") !important;
}

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  content: url("assets/home/pagination-nextMob.png") !important;
}
/* .ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  content: url("assets/tesimonials/pagination-prev.png");
}

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  content: url("assets/tesimonials/pagination-next.png");
} */
